

.home {
    height: calc(100% - 93px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.name {
    z-index: 0;
    color: #292929;
    font-weight: 700;
    font-size: calc(8000vw / 1018);
    -webkit-text-stroke: calc(100vw / 1018) #f5ac7c;
    margin-bottom: 40px;
}

.description {
    color: #f5ac7c;
    font-size: calc(4000vw / 1018);
    z-index: 0;
}

.meImage {
    position: absolute;
    z-index: 0;
    top: 10%;
    right: 0;
    height: 100%;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 750px) {
    .home {
        height: 100%;
    }
    .name {
        font-size: 75px;
        -webkit-text-stroke: 1.2px #E48E55;
    }

    .description {
        font-size: 35px;
    }
}